.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 800px;
  height: 800px;
  border: solid 2px #222222;
}

/* .chessboard div:nth-child(odd) {
  background-color: #2f385c;
}

.chessboard div:nth-child(even) {
  background-color: #82acfa;
} */

.chessboard div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #222222;
}